Flask>=2.2.2
xgboost
pandas
sklearn==0.0.post5
matplotlib
git+https://github.com/mitsuhiko/flask-oauth
responder
loguru
requests
jinja2
gcloud
google-api-python-client
PyMySQL
flask-sqlalchemy
typesystem==0.2.5
